body {
    background-color:rgba(23, 39, 39, 0.921) ;
}

#divResult {
    display: grid;
    color: aliceblue;
    margin-left: 20%;
    margin-top: 3%;
    background-color: rgb(23, 39, 39);
    height: 650px;
    width: 60%;
    border-radius: 10px;
}

#a {
    place-items: center;
    color: aliceblue;
}

h1 {
    display: grid;
    place-items: center;
    margin-top: 50px;
}

input {
    width: 500px;
    height: 50px;
    background-color: rgba(34, 90, 90, 0.138);
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 15%;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(40, 216, 216, 0.093);
    border: none;
    color: aliceblue;
    cursor: pointer;
}

p,
span {
    margin-left: 15%;
}